<!DOCTYPE html>
<html lang="de">

	<head>
		<meta charset="utf-8">
		<title>About</title>
		<link rel="icon" href="/img/weather.png">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>

	<body>
		<div class="main-content">
    	{{>header}}
    	<img class="portrait" src="/img/robot.png" alt="This is a robot">
		</div>
		{{>footer}}
	</body>

</html>
